.container-nav {
    display: flex;
    justify-content: center;
    height: 4.7em;
    background-color: #393431;
    color: #FFF;
    font-family: papyrus;
}

@media (max-width: 400px) {
    .container-nav {
        font-size: 12px;
    }
}