.container-footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #393431;
    color: #FFF;
    text-align: center;
    font-family: papyrus;
}

@media (max-width: 400px) {
    .container-footer {
        font-size: 12px;
    }
}